@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');

body {
    font-family: 'Grenze Gotisch', cursive;
    background: #f0f0f0;
    box-sizing: border-box;
    height: auto;
    overflow-x: hidden
}

h1,
h2,
h3, {
    font-weight: 512;
    margin: 0;
}

h1 {
    font-size: 256%;
    text-transform: uppercase;
    box-shadow: 12px 6px 6px red;
}

h2 {
    font-size: 175%;
    text-transform: capitalize;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 1024px;
    margin: auto;
    box-shadow: 10px 5px 5px green;
}

.main-content-flex,
.main-text-img,
.caption,
footer {
    text-align: center;  
}

.main-content-flex {
    display: flex;
    flex: 0 1 40vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content-img {
    background: url('https://source.unsplash.com/cvanEuY3hcI/1280x956');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 10px;
}

.btn {
    padding: 12px 24px;
    border: 1px solid #a9d8e5;
    display: inline-block;
    margin: 24px 0;
    border-radius: 32px;
    text-decoration: none;
    color: forestgreen;
}

.btn:hover {
    background: cyan;
    color: darkcyan;
}

.main-text-img {
    padding: 12px;
    color: skyblue;
}

.caption {
    padding: 15px
}

footer {
    max-width: 1024px;
    padding: 16px 12px;
    margin: auto;
    color: gray;
}

footer h3 {
    font-size: 250%;
    box-shadow: 12px 6px 6px gray;
    margin: 48px 64px;
}

.footer-text {
    color: black;
}

hr {
    width: 50%;
    color: darkgray;
}

@media (min-width: 750px) {
    .main-content {
        display: flex;
        height: 100%;
    }
    .main-content-flex {
        height: 100vh;
    }
    .main-content-img {
        height: 100vh;
    }
}

